<% i=1 %>
<% @products.each do |product| %>
    <p>
        商品<%= i %>:<%= product.name %> 値段:<%= product.price %>円
        <%= link_to '削除', product_path(product.id), method: :delete %>
        <%= link_to 'カートに入れる', new_cart_item_path(product_id: product.id)%>
    </p>
    <% i+=1 %>
<% end %>

<p> <%= link_to '商品を新規登録する' , new_product_path %> </p>
<p> <%= link_to 'カートを見る' , cart_path(current_cart) %> </p>
